.card-details
    display: flex

.margins
    margin-top: 30px
    margin-left: 30px
    margin-right: 30px
    margin-bottom: 30px

.imagem-card
        max-width: 400px
        height: 600px

.botoes
    text-align: end
    margin-top:50px
    margin-bottom: 20px

.card-info
    width: 500px
    height: 560px
    font-family: var( --fonte-padrao)
    color: var(--cor-padrao)
    padding: 20px 20px 20px 20px
    margin-bottom: 20px

.detalhes
        p
            margin-bottom: 20px !important
            font-family: var(--fonte-padrao)
            font-size: 20px
            color: var(--cor-padrao)

@media screen and (max-width: 700px)

    .card-details
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center 

    .imagem-card
        width: 100%
        height: auto

    .card-info
        width: 85%
        height: auto
        font-family: var( --fonte-padrao)
        color: var(--cor-padrao)
        padding: 20px 20px 20px 20px
        margin-bottom: 20px
        margin-top: 30px
        margin-bottom: 30px

